<!-- <nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
    <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">list</a></li>
  </ul>
</nav> -->

<section class="top-nav">
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
</label>
  <ul class="menu">
    <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
    <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">list</a></li>
  </ul>
</section>
