.informations {
  display: flex;
  justify-content: space-around;
    .itens-dash {
      width: 48%;
    }
}


@media (max-width: 600px) {

  .informations {
    display: inherit;
      .itens-dash {
        width: 100%;
      }
  }

}
